input, textarea {
	width: 65%;
	border: 1px solid #BCBCBC;
	outline: none;
}

.field {
	margin: 5px 0px;
	display: inline-block;
    width: 100%;
}

label {
	width: 25%;
	background: #0084B5;
	color: #FFF;
	font-size: 14px;
	margin: 0 5% 0 0;
	float: left;
}
input, label, textarea, select {
	padding: 10px 15px;
	font-size: 14px;
}

select {
	max-width: 100%;
	width: 245px;
}

.labelAdress {
	/*float: left;*/
	display: inline-block;
    margin-top: 1px;
    padding-bottom: 69px;
}

textarea {
	display: inline-block;
}
.radioButtons input[type="radio"], .radioButtons input[type="radio"] {
	-webkit-appearance: radio;
	   -moz-appearance: radio;
	        appearance: radio;
}


.radioButtons input[type="radio"] {
	width: auto;
	text-align: center;
}

.radioButtons > span {
	padding: 0 5px;
}

input#careersSubmit {
	width: 25%;
	background: #0084B5;
	color: #fff;
	margin-bottom: 30px;
	font-size: 16px;
	
}
h4.carrersTitle {
	margin: 20px 0px;
}

@media all and (max-width: 767px) {
	label, input {
		width: 100%;
		display: block;
	}
}