input, textarea {
	width: 100%;
	border: 1px solid #BCBCBC;
	outline: none;
}

.field {
	margin: 5px 0px;
	display: inline-block;
    width: 100%;
}

label {
	width: 100%;
	background: #0084B5;
	color: #FFF;
	font-size: 14px;
	margin: 0 5% 0 0;
	float: left;
}
input, label, textarea, select {
	padding: 10px 15px;
	font-size: 14px;
}

select {
	width: 100%;
	-webkit-appearance: none; box-shadow: none !important;
}

/*.selectBoxes {
	margin-right: 105px;
}*/
.selectBoxes.last {
	float: right;
	margin-right: 0;
}
.labelAdress {
	/*float: left;*/
	display: inline-block;
    margin-top: 1px;
    padding-bottom: 69px;
}


textarea {
	display: inline-block;
}
.radioButtons input[type="radio"], .radioButtons input[type="radio"] {
	-webkit-appearance: radio;
	   -moz-appearance: radio;
	        appearance: radio;
}


.radioButtons input[type="radio"] {
	width: auto;
	text-align: center;
}

.radioContainer  span {
	padding: 0 5px;
}

.radioContainer {
	/*text-align: center;*/
}

input#careersSubmit {
	width: 23.7%;
	background: #fff;
	color: #0084B5;
	margin-bottom: 30px;
	font-size: 16px;
	border: 1px solid #0084B5;
	font-weight: bold;
}
input#careersSubmit:hover {
	background: #0084B5;
	color: #fff;
}
h4.carrersTitle {
	margin: 20px 0px;
}


/*  Validation */

label.error {
	display: none!important;
}
label#usCitizen-error, label#ifNoCitizen-error, label#workedBefore-error, label#convicted-error, label#contactPreviousSupervisor-error {
	display: block!important;
    background: none;
    color: red;
    font-size: 10px;
    position: absolute;
    left: 50%;
}
textarea.error, select.error {
	border: 1px solid #ff0000;
}



@media all and (max-width: 1024px) {

}

@media all and (max-width: 991px) {
	.labelAdress {
		padding-bottom: 0;
	}
	.selectBoxes.last {
		float: none;
		clear: both;
	}
	label#usCitizen-error, label#ifNoCitizen-error, label#workedBefore-error, label#convicted-error, label#contactPreviousSupervisor-error {
		left: 40%;
	}
	
}


@media all and (max-width: 800px) {
	input#careersSubmit {
		width: 100%;
		margin-top: 10px;
	}
	.submitButton {
		width: 95%;
		margin: 0 auto;
	}
}


@media all and (max-width: 767px) {
	.selectBoxes {
		margin: 0;
	}
	
	.labelAdress {
		padding-bottom: 0;
	}
	.center {
		text-align: center;
	}
	
}




.padSelect {
	padding:0px;
}

@media all and (min-width: 991px) {
	.col-md-9 {
		padding: 0;
	}
	.nopad {
		padding-left: 0;
	}
}
