input, textarea {
	width: 100%;
	border: 1px solid #BCBCBC;
	outline: none;
}

.field {
	margin: 5px 0px;
	display: inline-block;
    width: 100%;
}

label {
	width: 100%;
	background: #0084B5;
	color: #FFF;
	font-size: 14px;
	margin: 0 5% 0 0;
	float: left;
}
input, label, textarea, select {
	padding: 10px 15px;
	font-size: 14px;
}

select {
	width: 100%;
}

.selectBoxes {
	margin-right: 105px;
}
.selectBoxes.last {
	float: right;
	margin-right: 0;
}
.labelAdress {
	/*float: left;*/
	display: inline-block;
    margin-top: 1px;
    padding-bottom: 69px;
}


textarea {
	display: inline-block;
}
.radioButtons input[type="radio"], .radioButtons input[type="radio"] {
	-webkit-appearance: radio;
	   -moz-appearance: radio;
	        appearance: radio;
}


.radioButtons input[type="radio"] {
	width: auto;
	text-align: center;
}

.radioContainer  span {
	padding: 0 5px;
}

.radioContainer {
	/*text-align: center;*/
}

input#careersSubmit {
	width: 25%;
	background: #fff;
	color: #0084B5;
	margin-bottom: 30px;
	font-size: 16px;
	border: 1px solid #0084B5;
}
h4.carrersTitle {
	margin: 20px 0px;
}


@media all and (max-width: 1024px) {
	.selectBoxes {
		margin-right: 87px;
	}
}


@media all and (max-width: 768px) {
	
}


@media all and (max-width: 767px) {
	.selectBoxes {
		margin: 0;
	}
	.selectBoxes.last {
		float: none;
	}
	.labelAdress {
		padding-bottom: 0;
	}
	.center {
		text-align: center;
	}
	input#careersSubmit {
		width: 100%;
		margin-top: 10px;
	}
}


.nopad {
	padding: 0;
}